/*
Theme Name: Nexuslab land sale.
Theme URI: https://www.facebook.com
Description: this will be a Wordpress site to serve the purpose of listing of land sales (such as purchase price, possible Development and sales information) , and various farming projects such as frog farms.
Version: 1.0
Author: Channy Miech and Makara Ngeom
Author URI: https://www.facebook.com.
*/

html { margin-top: 0px !important; }
* html body { margin-top: 32px !important; }
@media screen and ( max-width: 782px ) {
  html { margin-top: 46px !important; }
  * html body { margin-top: 46px !important; }
}

.sr-text{
  display: none;
}

nav.socials ul li a:before {
  font-family: 'FontAwesome';
  /*display: inline-block;*/
  /*vertical-align: top;*/
  content: '\f08e';
  font-size: 16px;
  color: #777777;
  -webkit-font-smoothing: antialiazed;
}
nav.socials ul li a[href*="facebook.com"]::before{
  content: '\f09a';
}
nav.socials ul li a[href*="twitter.com"]::before{
  content: '\f099';
}
nav.socials ul li a[href*="youtube.com"]::before{
  content: '\f167 ';
}
.home-page{
  margin-top: -32px;
}
