/*
Theme Name: Cambodia Farm.
Theme URI: https://www.facebook.com
Description: this will be a Wordpress site to serve the purpose of listing of land sales (such as purchase price, possible Development and sales information) , and various farming projects such as frog farms.
Version: 1.0
Author: Channy Miech and Makara Ngeom
Author URI: https://www.facebook.com.
*/



.sr-text{
  display: none;
}

nav.socials ul li a:before {
  font-family: 'FontAwesome';
  /*display: inline-block;*/
  /*vertical-align: top;*/
  content: '\f08e';
  font-size: 16px;
  color: #777777;
  -webkit-font-smoothing: antialiazed;
}
nav.socials ul li a[href*="facebook.com"]::before{
  content: '\f09a';
}
nav.socials ul li a[href*="twitter.com"]::before{
  content: '\f099';
}
nav.socials ul li a[href*="youtube.com"]::before{
  content: '\f167 ';
}
/* .home-page {
    margin-top: -32px ;
} */

/*comment style */
.vcard {
   margin-bottom: 19px;
}
.vcard img {
    width : 69px;
}
ul li {
    list-style-type: none;
}
.logged-in-as{
    display: none ;
}
.comment-edit-link {
    display: none ;
}
.fn {
    margin-left: 34px;
}
.comment-body p {
   margin-top: -61px;
   margin-left: 124px;
}
.comment-body {
    padding-bottom: 12px;
}
.reply {
    padding-top: 10px ;
}
.comments-title {
    font-size: 21px ;
}
#comments {
    padding-top: 0px ;
}
.comment-reply-title {
    font-size: 21px ;
}
textarea {
    border: 1px solid rgba(0, 0, 0, 0.13);
    margin-left: -68px;
    margin-top: -29px;

}
input {
    border: 1px solid rgba(0, 0, 0, 0.13);
}

#submit{
    background-color: #51a3e9;
    border: none;
    color: white;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
#cancel-comment-reply-link {
    margin: 5px 138px;
}
.comment-respond {
    /*margin-top: -53px;*/
}
.comment-awaiting-moderation {
    display: none ;
}
/*widgets style footer*/
.widget-title {
    color: white ;
    font-size: 21px ;
}
.rpwe-img img {
    width: 79px ;
}
#media_image-2 img {
    width: 104px ;
}
.col-3-footer{
    margin-top: 23px ;
}
.col-md-9 article p a button {
    margin-left: -14px;
    margin-top: 10px;

}

/*properties style*/


section .wpl_property_listing_container #wpl_googlemap_container14 {
  display: none;
}
.entry-title {
  display: none ;
}
.post-edit-link {
  display: none;
}
section .entry-content {
  padding: 0px;
  margin-top: -70px;
}
.wpl_property_listing_container  {

  margin-left: 33px;
  margin-right: 33px;
}

.wpl-listing-tags-wp {
  right: 48px;
}
.wpl-column {

  border: 1px solid ;

}

#sidebar {
  margin-top: -22px ;
}
.widget-title {
   color: black ;
}
#primary {
  margin-left: 33px;
  margin-right: 33px;
}
.wpl_search_from_box .search_submit_box{
  background: none ;
}
.search_submit_box #wpl_search_widget_submit3  {
  color : white ;
  background: #51a3e9 ;
}
.entry-content .attachment-post-thumbnail {
  display: none ;
}
#grid_view {
  display: none ;
}
#list_view {
  display: none ;
}
/*#sidebar {
  width: 700px ;
}*/

/*our agents style*/
 .attachment-employee-thumbnail  {
   width: 169px;
}
.content-area {
  /*border: 1px solid  ;*/
}
.agent-wrap  {
  width: 262px;
  border: 1px solid;
  /*float: left;*/
  padding-left: 26px;
  margin-left: 23px;
  padding-top: 17px;
  box-shadow: 0px 2px 4px #888888;
}
.widget_wpl_search_widget .widget-title {
  /*display: none;*/
}
.wpl_search_from_box .wpl_search_from_box_top{
  margin-top: 58px;
}
.archive-title {
  font-size: 26px;
  text-align: center;
  margin: 41px 0px;
}
.agent-details {
  padding-top: 24px;
}
#wpl_prp_show_container {
  padding-left: 56px;
  padding-right: 56px;
}
.wpl_carousel_container  .simple_list li {
  width: 593px;
  float: left;
  margin-left: 41px;


}
.wpl_plisting_bottom_sidebar_container  {
  margin-left: 50px ;
}

.main-content {
  /*height: 366px ; */
}
/* image zoo */
#item-images .firstimage:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
#item-images .firstimage img{
  max-width: 100%;

 -moz-transition: all 0.3s;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
}

#qtranslate-chooser li{
  width: 30px;
margin: 4px 5px;
opacity: 0.7;
display: inline-block;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
#searchsubmit {
  background:#53a5ec;
  color:#fff;
  width: 97%;
}
